.indexPage--kidsProfile {
    background-color: #000;
    border-bottom: 8px solid #333;
    display: flex;
}

.kidsProfile--watchText {
    padding: 120px 50px 120px 120px;
}

.kidsProfile--watchText h1{
    font-size: 3.125rem;
    margin-bottom: 10px;
}

.kidsProfile--watchText h2{
    font-size: 1.625rem;
    font-weight: normal;
}

.kidsProfile--watchAnimation img {
    width: 500px;
    margin: 50px 0px 0px 100px;
}
