/*Header*/

.indexPage--header {
    height: 80px;
    padding: 28px 58px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: transparent;
    justify-content: space-between;
}

.indexPage--header img {
    width: 132px;
    height: 36px;
}

.indexPage--headerButton {
    display: flex;
}

.indexPage--headerDropdown {
    position: relative;
    display: inline-block;
}

.indexPage--headerDropdownDropbtn {
    display: flex;
    width: 120px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border-width: 0.2px;
}

.indexPage--headerDropdownContent {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.indexPage--headerDropdownContent a {
    color: #fff;
    background-color: #000;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.indexPage--headerDropdownContent a:hover {
    background-color: #333
}

.indexPage--headerDropdown:hover .indexPage--headerDropdownContent {
    display: block;
}

.indexPage--headerEnter {
    height: 36px;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 14;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    margin-left: 35px;
}

.indexPage--headerEnter a{
    text-decoration: none;
    color: #fff
}

/*Card*/

.indexPage--card {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/serieswallpaper.jpg");
}

.indexPage--cardTransparency {
    width: inherit;
    height: inherit;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.indexPage--cardTransparencyTop {
    width: inherit;
    height: 20vh;
    position: relative;
    opacity: 0.8;
    top: 0;
    background: linear-gradient(to bottom, #000 1%, transparent 99%);

}

.indexPage--cardInfo {
    margin-top: 90px;
} 

.indexPage--cardInfoText h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.indexPage--cardInfoText h2{
    font-size: 1.625rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.indexPage--cardInfoText h3{
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.indexPage--cardInfoForm input {
    padding: 17px;
    padding-top: 21.2px;
    width: 470px;
    font-size: 16px;
}

.indexPage--cardInfoForm a {
    text-decoration: none;
    color: #fff;
    background-color: #f00;
    padding: 16px;
    font-size: 25px;
}

.indexPage--cardInfoForm a:hover {
    background-color: rgb(248, 36, 36);
}